
    BODY {background: #ffffff}
    A:link {color: #80FF00}
    A:visited {color: #FF00FF}
    H1 {font-size: 24pt; font-family: arial}
    H2 {font-size: 18pt; font-family: arial}
    H3 {font-size: 14pt; font-family: arial}
    
    /* Responsive Design dengan Media Queries */
@media (max-width: 600px) {
  body {
    width: 90%; /* Lebar body menjadi 75% dari lebar layar */
        }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengatur tinggi container agar mengisi seluruh viewport */
  }



